*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
h1{text-align:center;font-size:20px;color:#900000;margin:10px 0 14px;padding:0;}
.cent{margin:10px 0 20px;padding:0;text-align:center;}
table{width:auto;font-size:16px;}
td span{color:blue;}
.td_u{display:inline-block;width: 34px;}
.new{color:blue;font-size:12px;}
td a{margin:2px auto;padding:0;text-align:center;display:block;text-decoration:none;color:#900000;}
